<form action="/new" method="post">
  <label for="file_name">Add a new document:</label>
  <input type="text" name="file_name" id="file_name" placeholder="File Name"
         value=<%= params[:file_name] %>>
  <input type="submit" value="Save Changes">
</form>